@font-face {
    font-family: PingFangSC-Medium;
    src: url('../common/font/PingFang\ Medium.ttf');
}
@font-face {
    font-family: PingFangSC-Bold;
    src: url('../common/font/PingFang\ Bold.ttf');
}